body{
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

#map{
    width: 100%;
    height: 360px;
    border-radius: 5px;
    z-index: 1;
}

.inner-column{
    padding: 120px 0 60px !important; 
}